@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definição das Variáveis Globais (Tema) */
:root {
  /* Cores padrão (fallback) caso a API demore a carregar */
  --primary-color: #2563eb; /* Um azul padrão */
  --secondary-color: #1e293b; /* Um cinza escuro */
  --bg-color: #f3f4f6; /* Fundo cinza bem claro */
}

/* Estilos base para o corpo do site */
body {
  /* @apply permite usar classes do Tailwind dentro do CSS puro */
  @apply bg-background text-gray-800 font-sans antialiased;
}